.heading {
  background: #E6F9FF;
}
.heading__body {
  display: flex;
  flex-direction: column;
  padding: 35px 0 100px;
  align-items: center;
  justify-content: center;
}
.heading__body .background {
  display: none;
}
.heading__body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading__body-text h2 {
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  padding: 0 30px;
  text-align: center;
  color: #04234F;
}
.heading__body-text img {
  display: block;
  width: 70%;
  padding: 20px 0 40px;
}
.heading__body-text h4 {
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #04234F;
}
.heading__body-text p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  padding: 40px 1px 40px 0;
  color: #04234F;
}
.heading__body-text a {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  display: flex;
  width: 100%;
  padding: 23px;
  text-align: center;
  color: #fff;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #E33569;
  align-items: center;
  justify-content: center;
}

.info {
  background: linear-gradient(0deg, #8BDFFE 0%, #8BDFFE 100%), #E7F9FF;
}
.info__body {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
}
.info__body h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  padding-bottom: 40px;
  text-align: center;
  color: #04234F;
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info__item img {
  width: 30%;
  padding-top: 40px;
}
.info__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info__item-text h4 {
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 15px;
  padding: 20px;
  color: #04234F;
}
.info__item-text p {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #04234F;
}

.plans {
  background: #E6F9FF;
}
.plans__info {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.plans__info h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  width: 80%;
  padding-bottom: 10px;
  text-align: center;
  color: #04234F;
}
.plans__info a {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #fff;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #E33569;
  justify-content: center;
  align-items: center;
}
.plans__card {
  width: 100%;
  height: 100%;
  padding: 35px 0;
  border-radius: 10px;
  background: #8BDFFE;
}
.plans__card h1 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #04234F;
}
.plans__card h2 {
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  width: 100%;
  text-align: center;
  color: #04234F;
}
.plans__card-text {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 60px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.plans__card-text h4 {
  font-family: "Cabin", sans-serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #04234F;
}

.active-card {
  background: #fff;
}
.active-card h1,
.active-card h2 {
  color: #E33569;
}
.active-card h4 {
  color: #000;
}

.mentors {
  background: linear-gradient(156deg, rgba(67, 127, 236, 0.8) 0.24%, rgba(53, 111, 216, 0.8) 38.05%, rgba(24, 78, 174, 0.8) 99.76%);
}
.mentors__info {
  display: flex;
  flex-direction: column;
  padding: 60px 0 130px 0;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.mentors__info h2 {
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
  padding-bottom: 5px;
  text-align: center;
  color: #04234F;
}
.mentors__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  align-items: center;
  justify-content: center;
}
.mentors__card img {
  width: 50%;
  padding: 44px 0 22px;
}
.mentors__card p {
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  width: 80%;
  padding: 45px 0 80px;
  text-align: center;
  color: #000;
}
.mentors__card-text h3 {
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  color: #000;
}

.form {
  background: #E6F9FF;
}
.form__wrapper {
  width: 100%;
  padding: 50px 0;
}
.form__body {
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 60px 0 80px;
  border-radius: 10px;
  background: linear-gradient(0deg, #8BDFFE 0%, #8BDFFE 100%), #E7F9FF;
  align-items: center;
  justify-content: center;
}
.form__body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__body form button {
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 75%;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #E33569;
}
.form__body h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  width: 70%;
  padding-bottom: 15px;
  text-align: center;
  color: #04234F;
}
.form__body-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;
  align-items: center;
}
.form__body-fields input,
.form__body-fields textarea {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  width: 90%;
  padding: 20px 15px;
  resize: none;
  color: #000;
  border: none;
  border-radius: 10px;
}

.uncolored-bg {
  background: #E6F9FF;
}