.header {
  background-color: #effcff;
  filter: drop-shadow(5.9000000954px 6.8000001907px 19px rgba(4, 35, 79, 0.08));
}
.header__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #04234F;
  padding: 20px 0px;
  justify-content: space-between;
}
.header__logo {
  display: none;
}
@media (min-width: 1024px) {
  .header__logo {
    display: block;
  }
}

.menu__body {
  padding: 0px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
@media (min-width: 1024px) {
  .menu__list {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1440px) {
  .menu__list {
    gap: 70px;
    padding-right: 40px;
  }
}
.menu__item {
  width: calc(33% - 10px);
  display: flex;
  justify-content: center;
}
.menu__link {
  color: #04234F;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0px 10px;
}
@media (min-width: 1440px) {
  .menu__link {
    font-size: 30px;
  }
}

.active-nav {
  color: #E33569;
}

.footer {
  background-color: #D7F5FF;
}
.footer__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #04234F;
  padding: 20px 0px;
}
@media (min-width: 1024px) {
  .footer__body {
    justify-content: space-between;
  }
}
.footer__logo {
  display: block;
}
@media (min-width: 1440px) {
  .footer__logo img {
    width: 150%;
  }
}

@media (min-width: 1440px) {
  .socials {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
.socials__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}
@media (min-width: 1440px) {
  .socials__list {
    width: 30%;
  }
}
.socials__link {
  height: 100%;
  width: 100%;
}
.socials__item {
  height: 100%;
  width: calc(25% - 10px);
}
.socials__img {
  height: 100%;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  .column {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .column {
    gap: 50px;
  }
}

.flex-end {
  justify-content: flex-end;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  src: url("../fonts/NanumGothic.ttf");
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin.ttf");
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  color: #000;
  background: #fff;
}

html {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

ul li,
ol li {
  margin: 0;
}

.container {
  position: relative;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    width: 648px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 870px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1126px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}
@media (min-width: 1750px) {
  .container {
    width: 1662px;
  }
}