@import 'libs/vars';


.heading {
  background: $background;

  &__body {
    padding: 35px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .background {
      display: none;
    }

  }

  &__body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: $text-color;
      text-align: center;
      font-family: $Cabin;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0px 30px;
    }

    img {
      padding: 20px 0px 40px;
      width: 70%;
      display: block;

    }

    h4 {
      color: $text-color;
      text-align: center;
      font-family: $Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

    }

    p {
      color: $text-color;
      font-family: $NanumGothic;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding: 40px 1px 40px 0px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 23px;
      width: 100%;
      border-radius: 5px;
      border: 4px solid rgba(0, 0, 0, 0.00);
      background: $red-accent;
      color: $white;
      text-align: center;
      font-family: $NanumGothic;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

  }
}


.info {

  background: $dark-background;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0;

    h2 {
      color: $text-color;
      text-align: center;
      font-family: $NanumGothic;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 30%;
      padding-top: 40px;
    }
  }

  &__item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4 {
      padding: 20px;
      color: $text-color;
      font-family: $Cabin;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
    }

    p {
      color: $text-color;
      font-family: $Cabin;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

  }

}

.plans {
  background: $background;

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0px;

    h2 {
      color: $text-color;
      text-align: center;
      font-family: $NanumGothic;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      width: 80%;
      padding-bottom: 10px;
    }

    a {
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: $white;
      text-align: center;
      font-family: $NanumGothic;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: 4px solid rgba(0, 0, 0, 0.00);
      background: $red-accent;
      width: 100%;
    }
  }

  &__card {
    border-radius: 10px;
    background: $light-blue-color;
    width: 100%;
    height: 100%;
    padding: 35px 0;

    h1 {
      color: $text-color;
      text-align: center;
      font-family: $Cabin;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    h2 {
      color: $text-color;
      text-align: center;
      font-family: $Cabin;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 100%
    }

  }

  &__card-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    padding: 30px 60px 60px;

    h4 {
      color: $text-color;
      font-family: $Cabin;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }


}

.active-card {

  background: $white;

  h1, h2 {
    color: $red-accent;
  }

  h4 {
    color: $black;
  }
}


.mentors {
  background: $dark-blue;


  &__info {
    padding: 60px 0 130px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;

    h2 {
      color: $text-color;
      text-align: center;
      font-family: $Cabin;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 80px;
      padding-bottom: 5px;
    }
  }

  &__card {
    background: $white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 50%;
      padding: 44px 0 22px;
    }


    p {
      text-align: center;
      color: $black;
      font-family: $Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      width: 80%;
      padding: 45px 0px 80px;
    }
  }

  &__card-text {
    h3 {
      color: $black;
      text-align: center;
      font-family: $Cabin;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
    }
  }

}


.form {
  background: $background;

  &__wrapper {
    padding: 50px 0px;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: $dark-background;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 80px;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      button {
        border-radius: 5px;
        border: 4px solid rgba(0, 0, 0, 0.00);
        background: $red-accent;
        width: 75%;
        color: $white;
        text-align: center;
        font-family: $Cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 15px 0px;
      }

    }

    h2 {
      color: $text-color;
      width: 70%;
      text-align: center;
      font-family: $NanumGothic;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding-bottom: 15px;
    }


  }

  &__body-fields {
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input, textarea {
      width: 90%;
      border-radius: 10px;
      border: none;
      color: $black;
      font-family: $Cabin;
      font-size: 18px;
      font-style: normal;
      padding: 20px 15px;
      font-weight: 400;
      line-height: 25px;
      resize: none;
    }
  }

}


.uncolored-bg {
  background: $background;
}