<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__logo">
                <img src="../img/logos/small-logo.svg" alt="logo"/>
            </div>
            <div class="column">
                <div class="footer__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list flex-end">
                            <li class="menu__item "><a href="" class="menu__link">Home</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Blog</a></li>
                            <li class="menu__item"><a href="" class="menu__link">FAQ</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Careers</a></li>
                            <li class="menu__item"><a href="" class="menu__link">Apply</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__socials socials">
                    <ul class="socials__list">
                        <li class="socials__item"><a href="" class="socials__link"><img class="socials__img"
                                                                                        src="../img/socials/email.png"/></a>
                        </li>
                        <li class="socials__item"><a href="" class="socials__link"><img class="socials__img"
                                                                                        src="../img/socials/twitter.png"/></a>
                        </li>
                        <li class="socials__item"><a href="" class="socials__link"><img class="socials__img"
                                                                                        src="../img/socials/telephone.png"/></a>
                        </li>
                        <li class="socials__item"><a href="" class="socials__link"><img class="socials__img"
                                                                                        src="../img/socials/instagram.png"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>